[MASTER]
# ספריות או קבצים להחרגה
ignore=venv,__pycache__,tests

[MESSAGES CONTROL]
# התעלמות מאזהרות פחות רלוונטיות
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    W0511   # TODO found

[FORMAT]
# אורך שורה מקסימלי
max-line-length = 100
indent-string='    '

[BASIC]
# חוקי שמות משתנים
variable-rgx=[a-z_][a-z0-9_]{2,30}$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
class-rgx=[A-Z_][a-zA-Z0-9]+$

[REPORTS]
# סוג הפלט: צבעוני לדוחות בטרמינל
output-format=colorized
reports=no
